<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176789860610-iqrejv923d8khfnmdcbe3r61jqjt5k2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176789860610-iqrejv923d8khfnmdcbe3r61jqjt5k2e</string>
	<key>API_KEY</key>
	<string>AIzaSyAHKifd7jYNbF2JLpchF4fB-3haQJef31g</string>
	<key>GCM_SENDER_ID</key>
	<string>176789860610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.impetus</string>
	<key>PROJECT_ID</key>
	<string>impetus-internship-project</string>
	<key>STORAGE_BUCKET</key>
	<string>impetus-internship-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176789860610:ios:d55279c20a3e842cbdd21b</string>
</dict>
</plist>